*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* General rules */

body {
    background: rgb(0,150,136);
    background: linear-gradient(180deg, rgba(0,150,136,1) 0%, rgba(0,150,136,1) 130px, rgba(215,219,215,1) 130px);
    height: 100vh;
    display: flex;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

#app{
    width: 90%;
    margin: auto;
    height: calc(100vh - 60px);
    display: flex;
}

#app_left{
    width: 35%;
    border-right: 1px solid rgb(219, 219, 219);
}

#app_right{
    width: 65%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* app left */


    /* user bar */

#user_bar{
    height: 100px;
    background-color: #EAEAEA;
    display: flex;
    align-items: center;
}

#user_bar img{
    height: 70px;
    border-radius: 50%;
    margin: 0 1rem 0 1rem;
}

#user_bar span {
    font-size: 1.5rem;
}

#user_bar_icons{
    margin-left: auto;
}

#user_bar_icons i {
    color: #B1B1B1;
    font-size: 2rem;
    margin: 0 1rem 0 1rem;
}

    /* notifications */

#notifications {
    height: 100px;
    background-color: #8EDAFC;
    display: flex;
    align-items: center;
    justify-content: center;
}

#notifications i {
    background-color: white;
    color: #8EDAFC;
    font-size: 2rem;
    height: 65px;
    min-width: 65px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}

#notifications_text {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
}

#notifications_top_text{
    font-size: 1.5rem;
}

#notifications_sub_text{
    color: #4F7485;
    text-decoration: underline;
    font-size: 1.2rem;
}

    /* Search bar */

#search_bar{
    height: 60px;
    background-color: #EAEAEA;
    display: flex;
    align-items: center;
    justify-content: center;
}

#search_box{
    background-color: white;
    height: 40px;
    width: 97%;
    border-radius: 4px;
    display: flex;
    align-items: center;
}

#search_box i {
    width: 10%;
    text-align: center;
    color: #B1B1B1;
    font-size: 1.3rem;
}

#search_box input{
    width: 90%;
    border: transparent;
    font: 1.3rem;
}

    /* contacts */

#contacts{
    overflow-y: auto;
    height: calc(100% - 260px);
}

.contact {
    background-color: #FFFFFF;
    height: 100px;
    width: 100%;
    border-bottom: 1px solid #EAEAEA;
    display: flex;
    align-items: center;
    position: relative;
}

.contact:hover{
    filter: brightness(0.9);
}

.contact div{
    display: flex;
    flex-direction: column;
}

.contact span {
    margin-left: 1rem;
    font-size: 1.5rem;
}

.contact_img {
    height: 80px;
    border-radius: 50%;
    margin-left: 2rem;
}

.invisible {
    display: none;
}

#last_msg_prev{
    font-size: 1rem;
    color: grey;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width:200px; 
    margin-top: 10px;
}

#last_msg_date{
    font-size: 1rem;
    color: grey;
    align-self: flex-start;
    position: absolute;
    right: 10px;
    top: 10px;
}
/* app right */

    /* top bar */

#top_bar{
    height: 100px;
    background-color: #EAEAEA;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#current_chat_user{
    display: flex;
} 

#current_chat_user img {
    margin: 0 1rem 0 1rem;
}

#current_chat_user div{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#current_user_name{
    font-size: 1.3rem;
    margin-bottom: 5px;
}

#last_access{
    color: grey;
}

#top_icons {
    margin-right: 20px;
}

#top_icons i {
    color: #B1B1B1;
    font-size: 2rem;;
    margin: 0 1rem 0 1rem;
}

.contact_active {
    background-color: #D5F9BA;
}

    /* chat container */
#chat_container {
    height: calc(100% - 200px);
    background-image: url(../img/mine.jpg);
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

.sent, .received {
    padding: 1rem;
    border-radius: 10px;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    min-width: 300px;
}

.sent{
    background-color: #D5F9BA;
    justify-content: flex-end;
    align-self: flex-end;
}

.received{
    background-color: #FFFFFF;
    align-items: flex-start;
    align-self: flex-start;
}

.chat_text {
    font-size: 1.2rem;
}

.chat_text_time{
    align-self: flex-end;
    font-size: 0.8rem;
    color: grey;
}
    /* message bar */

#message_bar{
    height: 100px;
    background-color: #EAEAEA;
    display: flex;
    justify-content: center;
    align-items: center;
}

#message_bar i {
    color: #6B7376;
    font-size: 2rem;
    margin: 0 1.5rem 0 1.5rem;
}

#message_bar input {
    height: 70%;
    border: transparent;
    border-radius: 5px;
    width: 85%;
}

#message_input::placeholder{
    font-size: 1rem;
    
}